<div class="container-fluid m-0 p-0">
<div class="row">

  
  <div class="col-md-6 p-0">
    
    <div class="signuplink">
      <div class="d-flex  justify-content-center p-3">
      <div class="pt-5">
        <div class="d-flex  justify-content-center">
          <h2>NEW ACCOUNT</h2>
        </div>
        <div class="d-flex  justify-content-center">
          <p>
            get access to your purchase history and offers especially for you</p>
        </div>
        <div class="d-flex  justify-content-center p-3">
          <button routerLink="/sign-up" mat-stroked-button>registration</button>
        </div>
      </div>
      </div>
    </div>

  </div>

  <div class="col-md-6 p-0 m-0">
    <img class="img-fluid m-0" src="/assets/sign.jpg">
  </div>

</div>
</div>