<div class="container">
<div class="row m-5">
  <div class="bggrey">
    <div class="container">
      <div class="row">
        <div class="d-flex  justify-content-center">
          <h3 class="p-5"> Why choose Flowers</h3>
        </div>
      </div>


      <div class="row m-5">

        <div class="col-md-4 col-s-12 ">
          <div class="row">
            <div class="d-inline-flex  justify-content-center">
            <span class="material-symbols-outlined">
              local_florist
            </span>
            </div>
            <p class="p-5">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla malesuada pharetra eros, in porta odio
              elementum vitae. Vestibulum venenatis ac arcu.
            </p>
          </div>
        </div>

        <div class="col-md-4  col-s-12">
          <div class="row">
            <div class="d-inline-flex  justify-content-center">
            <span class="material-symbols-outlined">
              clear_day
            </span>
            </div>
          </div>
<div class="d-inline-flex  justify-content-center">
            <p class="p-5">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla malesuada pharetra eros, in porta odio
              elementum vitae. Vestibulum venenatis ac arcu.
            </p>
          </div>
        </div>


        <div class=" col-md-4 col-s-12 ">
          <div class="row ">
            <div class="d-inline-flex  justify-content-center">
            <span class="material-symbols-outlined">
              folded_hands
            </span>
          </div>
          </div>
          <div class="row">
            <p class="p-5"> 
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla malesuada pharetra eros, in porta odio
              elementum vitae. Vestibulum venenatis ac arcu.
            </p>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
</div>