<div class="container-fluid">
<div class="row">
  <div class="col-lg-6 col-s-12 ">
    <div class="contact">
      <h1 class="d-flex  justify-content-center mt-5">Contact us</h1>
      <mat-divider></mat-divider>
      <div class="getInTouch">
        <ul>
          <li class="p-3"><span class="material-symbols-outlined d-flex  justify-content-center pt-5">
              phone_in_talk
            </span><p class="d-flex  justify-content-center pt-5">Call us: +48 22 2222 222</p> </li>
          <li class="p-3"><span class="material-symbols-outlined  d-flex  justify-content-center pt-5">
              subscriptions
            </span>
            <p class="d-flex  justify-content-center pt-5">Sign up to our newsletter on <a href="/"> home</a> page </p>
          </li>
          <li class="p-3"><span class="material-symbols-outlined d-flex  justify-content-center pt-5">
              contact_mail
            </span>
            <p class="d-flex  justify-content-center pt-5">Email us on flowers@flowers.com</p> 
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6 d-none d-lg-block ">
    <div class="picture">
    <img src="/assets/contact-flower.jpg" alt="" class="img-fluid">
    <div class="caption">
    <p>Say hello!</p>
    <br>
    <p>We're here</p>
    <br>
    <p> whenever you need us.</p>
  </div>
  </div>
  </div>
</div>
</div>