<div class="d-flex p-5" style="height:100%">

  <div class="align-self-center">

    <div class="d-flex  justify-content-center">
      <h1><b>FLOWERS</b></h1>
    </div>

    <div class="d-flex  justify-content-center">
      <p class="p-3">"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
        "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
      </p>

    </div>

    <div class="d-flex  justify-content-center">
      <button routerLink="/shop" mat-stroked-button>Go to shop</button>

    </div>
  </div>
  </div>