<div class="container-fluid">
<div class="d-flex  justify-content-center p-4">
  
<h2 class="display2 p-3 ">Flowers<span class="material-symbols-outlined">
  emoji_nature
</span></h2>
</div>
<p p-3 m-3>Quisque efficitur odio leo, sit amet elementum nibh porta et. Morbi ultrices rhoncus purus, ac commodo nibh tincidunt
  vel. Proin porta sodales justo, at venenatis nunc accumsan semper. Aenean non leo accumsan, placerat tortor rhoncus,
  venenatis tellus. Integer id tristique nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada
  fames ac turpis egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
  Donec dictum nisl vitae velit lacinia porttitor. Ut rhoncus ante non ipsum finibus, id dapibus augue imperdiet. Etiam
  consequat, est ut scelerisque tincidunt, metus lectus auctor tortor, et venenatis mi risus ut sem. Nunc sollicitudin
  sagittis consequat.</p>
<div class="d-flex  justify-content-center">
  <div>
  <div class="frame m-5 ">
    <div class="inside">
      <div class=" d-flex justify-content-center">
      <h3 class="display-1" >Best  Bouquets In Your Area</h3> </div>
    </div>
  </div>
</div>
</div>
</div>