<div class="container-fluid">
<!-- karuzela -->
<div class="row">
  <div class="col-xl-8 col-l-8 col-s-6 p-0 m-0" >
    <app-carousel ></app-carousel>
  </div>
<div class="col-xl-4 col-l-4 col-s-6 p-0 m-0 " id="obokkaruzeli"> 
  <app-next-to-carousel></app-next-to-carousel>
</div>
</div>
</div>

<div class="container-fluid ">
<div class="row  ">
<app-divider-sing-up></app-divider-sing-up>
</div>
</div>

<div class="container">
<div class="row m-2">
  <app-white-text></app-white-text>
</div>
</div>

<div class="container-fluid ">
<div class="row mb-5">
  <app-divider-blue></app-divider-blue>
</div>
</div>

<div class="container">
<div class="row">
<app-newstletter></app-newstletter>
</div>
</div>


<div class="container">
<div class="row">
<app-why-flowers></app-why-flowers>
</div>
</div>